.pickmeup{
background: white;
border-radius:.4em;
-moz-box-sizing:content-box;
box-sizing:content-box;
display:none;
position:absolute
}
.pickmeup *{
-moz-box-sizing:border-box;
box-sizing:border-box
}
.pickmeup .pmu-instance{
display:inline-block;
height:13.8em;
padding:.5em;
text-align:center;
width:21em
}
.pickmeup .pmu-instance .pmu-button{
color: #fff;
cursor:default;
outline:none;
text-decoration:none;
margin: 2px 2px;
padding: 9px 5px;
text-align: center;
background-color: #5fcf80;
}
.pickmeup .pmu-instance .pmu-today{
background:#17384d;
color:#88c5eb
}
/*.pickmeup .pmu-instance .pmu-button:hover{
background:transparent;
color:#88c5eb
}*/
.pickmeup .pmu-instance .pmu-not-in-month{
color: transparent;
background-color: transparent;
}
/*.pickmeup .pmu-instance .pmu-disabled,.pickmeup .pmu-instance .pmu-disabled:hover{
color:#333;
cursor:default
}*/
.pickmeup .pmu-instance .pmu-selected{
    background-color: #676767;
    background-size: 6px 6px;
	color: white
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{
background-color: transparent!important;
color: transparent;
}
.pickmeup .pmu-instance nav{
color:#eee;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
line-height:2em
}
/*.pickmeup .pmu-instance nav *:first-child :hover{
color:#88c5eb
}*/
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{
display:none;
color: #576366;
height:2em;
width:1em;
background-color: white;
cursor: pointer !important;
}
.pickmeup .pmu-instance nav .pmu-month{
	width:15em;
	background-color: white;
	border-bottom: 1px solid #b4bbc6;
    margin-bottom: 10px;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    color: #333;
}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{
display:inline-block;
line-height:3.6em;
width:3.5em;
}
.pickmeup .pmu-instance .pmu-day-of-week{
color:#999;
cursor:default
}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{
display:inline-block;
line-height:1.5em;
    height: 40px;
    width: 35px;
}
.pickmeup .pmu-instance .pmu-day-of-week *{
line-height:1.8em;
    width: 100%;
}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{
display:block
}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{
width:100%
}
.pickmeup .pmu-instance:first-child:last-child .pmu-month{
width:12em
}
.pickmeup:not(.pmu-view-days) .pmu-days,.pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{
display:none
}

.calendar-state {
    display: inline-block;
}

.calendar_state.available {
    background: #5fcf80;
}

.calendar_state.unavailable {
    background: #676767;
    background-size: 6px 6px;
}

.calendar_state {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    display: inline-block;
    margin: 1px 5px 0 0;
}

div.calendar_title {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-right: 30px;

}

.calendar{
    padding: 10px 0px;
}

.calendar span{
	color: #3c465a;
	font-size: 22px;
	font-weight: bold;
}


